@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(68,71,163);
  background: linear-gradient(35deg, rgba(68,71,163,1) 35%, rgba(76,178,196,1) 100%);
}

.center {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.cuadro{
	 position: relative;
}
.numberText{
	left:40px;
	top:40px;
	text-shadow: 10px 1px 20px black;
	course: none;
	color: #ffff;	
	font-size: 100px;
	padding: 0px;
	margin-bottom: -10px;	
}
.text1{
	color:rgb(255,255,255);
	font-family: 'Eczar', serif;
	font-size: 75px;
	padding: 0px;
	margin: 0px;
	display:flex;
	justify-content:center;
	align-items: center;
}
.text2{
	color:rgb(255,255,255);
	font-family: 'Eczar', serif;
	font-size: 23px;
	padding-top: 0px;
	margin-top: -10px;
	display:flex;
	justify-content:center;
	align-items: center;
}
